<%- include("../partials/header") %>

<h2>Edit Assignment</h2>

<a href="/assignments" class="btn-table">← Back</a>
<br><br>

<form action="/assignments/<%= assignment._id %>/edit" method="POST">
  <div class="mb-3">
    <label class="form-label">Title</label>
    <input type="text" name="title" class="form-control" value="<%= assignment.title %>" required />
  </div>

  <div class="mb-3">
    <label class="form-label">Course</label>
    <input type="text" name="course" class="form-control" value="<%= assignment.course %>" required />
  </div>

  <div class="mb-3">
    <label class="form-label">Due Date</label>
    <input type="date" name="dueDate" class="form-control" value="<%= assignment.dueDate.toISOString().slice(0,10) %>" required />
  </div>

  <div class="mb-3">
    <label class="form-label">Description</label>
    <textarea name="description" class="form-control"><%= assignment.description %></textarea>
  </div>

  <button class="btn btn-primary">Save</button>
</form>

<%- include("../partials/footer") %>
